WAVEDISP_HOST=0.0.0.0
WAVEDISP_PORT=5000
WAVEDISP_USE_HTTPS=false
WAVEDISP_CERT_FILE=certs/cert.pem
WAVEDISP_KEY_FILE=certs/key.pem
WAVEDISP_DASHBOARD_DIST=dashboard/dist
WAVEDISP_CONFIG_FILE=backend/config.json
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5000/callback
RGB_MATRIX_FONTS_DIR=
